# Blacklist files/folders in same directory as the .gitignore file
/*

# Whitelist some files
!.gitignore
!LICENSE
!README.md
!init.el
!init-windows.el
!list-of-packages.txt
!personal-parameters.txt
!nationality-parameters.txt
!buffer-defuns.el
